#createEventFloating
  z-index 50
  position fixed
  i
    top -2px !important
  @media (max-width: 768px)
    bottom 10px
    right 10px
  @media (min-width: 768px)
    bottom 10px
    right 10px
  @media (min-width: 992px)
    bottom 10px
    left 10px
  @media (min-width: 1200px)
    bottom 50px
    left 95%

#application
  margin-top 80px

#app-well
  @media (min-width: 768px)
    margin-botton 50px
  @media (min-width: 992px)
    margin-left 10px
    margin-bottom 10px
    position fixed
    overflow-y auto
    max-height 90%
  @media (min-width: 1200px)
    margin-left 10px
    margin-bottom 10px
    position fixed
    overflow-y auto