#event-header-picture
  margin-top 50px
  picture
    @media (max-width 768px)
      height 250px
    @media (min-width 768px)
      height 350px
#event-details
  .well
    @media (max-width 768px)
      padding 0
#event-content
  .event-description
    padding 0
#edit-avatar-btn
  margin-top 20px
  span
    font-size 1.5em

#event-location-modal
  #map-canvas
    width 100%
    height 300px

#event-invite-modal #event-participants-modal
  .users-table
    height 300px
    overflow-y auto
.pac-container
  z-index 1050 !important
.editable-click, a.editable-click, .clickable
  border-bottom none
  cursor pointer
.editable-empty, .editable-empty:hover, .editable-empty:focus, a.editable-empty, a.editable-empty:hover, a.editable-empty:focus
  color #9E9E9E

#cropme-cancel
  display none

.margin-10
  margin 10px