#signup-box
  .jumbotron
    padding-top: 30px

    form
      margin-bottom: 30px

#monthly-calendar
  margin-top: 30px

#eventCreationDialog
  padding-top: 10px
  border: 1px solid #767D80
  border-radius: 5px

.clickable
  color: inherit
  &:hover
    color: #6BB0BA

.days
  .today
    background-color: #A1E6F0

.event-header
  margin-top: -145px
  background-color: #fff
  .event-name
    color: #fff