body
  background url(/img/bg_opacity.jpeg)
  background-repeat no-repeat
  background-attachment fixed

#signup-box
  .jumbotron
    padding-top: 30px

    form
      margin-bottom: 30px
#big-logo
  border: solid 2px white
  border-radius: 50%
  margin-top: 20%

.landing-text
  background: rgba(255,255,255,0.7)

#news-feed
  min-height: 600px

#currentDay
  // xs
  @media (max-width: 768px)
    font-size 1.2em
  // lg
  @media (min-width: 1200px)
    font-size: 2em


a, .clickable
  color: inherit
  cursor: pointer
  &:hover
    color: #6BB0BA
    text-decoration: none

.big-text
  font-size: 1.5em

.big-text-lg
  @media (min-width: 1200px)
    font-size: 1.5em

.day.active
  a
    background-color: inherit !important
    color: #000 !important
    &:hover
      background-color: #eee !important
      color: #000 !important

// User Event Layout Directive
.title
  // all screens
  background-color: rgba(255, 255, 255, 0.8)
  p
    color: #000
    font-size: 0.7em
  // xs
  font-size: 1.5em
  margin-top: -30px
  // md
  @media (min-width: 992px)
    margin-top: -70px
    font-size: 3em
  // lg
  @media (min-width: 1200px)
    margin-top: -100px
    font-size: 4em

.thumb
  // xs
  padding: 0
  margin-top: -40px
  // sm
  @media (min-width: 768px)
    margin-top: -75px
  // md
  @media (min-width: 992px)
    margin-top: -90px
  // lg
  @media (min-width: 1200px)
    margin-top: -120px

.annotation
  @media (min-width: 1200px)
    font-size 1.5em

.description
  font-size: 1.5em

// Event details template
#locationPicker
  #map-canvas
    height: 300px
    width: 100%

.pac-container
    z-index: 1051 !important

#eventButtons
  position: fixed
  bottom: 50px
  right: 50px
  z-index: 3

#editButton
  position: fixed
  right: 30px
  top: 80px

// Text formatting
.editable
  opacity: 0.8
  border-bottom: 1px dashed

.has-error
  color: #a94442

.text-grey
  color grey
  opacity 0.5

.user-events
  padding-top: 20px

.margin-xs-10
  @media (max-width: 768px)
    height: 10px
.margin-lg-10
  @media (min-width: 1200px)
    height: 10px

.search-input
  margin-top: 8px
  width: 250px

.search-item
  height: 80px
  width: 230px

.tt-dropdown-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion a {
  margin: 0px;
  display: block;
  height: 100%;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}





