#user-header-picture
  header-picture
    @media (max-width 768px)
      height 250px
    @media (min-width 768px)
      height 350px
#edit-avatar-btn
  margin-top 20px
  span
    font-size 1.5em
#edit-header-btn
  margin-top 80px
  span
    font-size 1.5em
#headerFileInput
  visibility hidden
  height 0
  width 0
#headerLoading
  margin-left auto
  margin-right auto
  margin-top 100px
#user-details
  .well
    @media (max-width 768px)
      padding 0
.user-name
  @media (max-width 768px)
    margin-bottom 0
    p
      margin-bottom 0
.user-avatar-thumbnail
  width 150px
.editable-click, a.editable-click, .clickable
  border-bottom none
  cursor pointer
.editable-empty, .editable-empty:hover, .editable-empty:focus, a.editable-empty, a.editable-empty:hover, a.editable-empty:focus
  color #9E9E9E

.full-width
  width 100%
