body {
  background: transparent;
}
#signup-box .jumbotron {
  padding-top: 30px;
}
#signup-box .jumbotron form {
  margin-bottom: 30px;
}
#monthly-calendar {
  margin-top: 30px;
}
#eventCreationDialog {
  padding-top: 10px;
  border: 1px solid #767d80;
  border-radius: 5px;
}
a,
.clickable {
  color: inherit;
  cursor: pointer;
}
a:hover,
.clickable:hover {
  color: #6bb0ba;
  text-decoration: none;
}
.days .today {
  background-color: #a1e6f0;
}
.img-event-header {
  margin-top: -20px;
}
@media (max-width: 768px) {
  .event-header {
    padding: 0;
  }
}
.event-header .event-name {
  background-color: rgba(255,255,255,0.4);
  color: #fff;
  font-size: 1.5em;
  margin-top: -30px;
}
.event-header .event-name p {
  color: #000;
  font-size: 0.7em;
}
@media (min-width: 992px) {
  .event-header .event-name {
    margin-top: -70px;
    font-size: 3em;
  }
}
@media (min-width: 1200px) {
  .event-header .event-name {
    margin-top: -100px;
    font-size: 4em;
  }
}
.event-header .event-thumbnail {
  padding: 0;
  margin-top: -40px;
}
@media (min-width: 768px) {
  .event-header .event-thumbnail {
    margin-top: -75px;
  }
}
@media (min-width: 992px) {
  .event-header .event-thumbnail {
    margin-top: -90px;
  }
}
@media (min-width: 1200px) {
  .event-header .event-thumbnail {
    margin-top: -120px;
  }
}
@media (min-width: 768px) {
  .event-description {
    margin-top: -100px;
  }
}
@media (min-width: 992px) {
  .event-description {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .event-description {
    font-size: 1.5em;
    margin-top: -40px;
  }
}
