doctype html
html
  head
    title Eventorio
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href="/lib/bootstrap-material-design/dist/css/material-wfont.min.css")
  link(rel="stylesheet", href="/css/landing.css")
  script.
    var app = {}
  script(src="/lib/jquery/dist/jquery.min.js")
  script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
  script(src="/lib/bootstrap-material-design/dist/js/material.min.js")
  script(src="/cdn/js/shared/routes.shared.js")
  script(src="/js/landing/landing.js")
  body(style="background-image: url(img/landing/#{landing.file}.jpg)")
    .header
      img.img.img-responsive(src="/img/logo_white.png")
      h1.hidden-xs Eventorio
    button#login-btn.btn.btn-raised.btn-success.btn-lg.login-btn(data-toggle="modal", data-target="#login-modal") Login

    .motivation
      .jumbotron
        h1 #{landing.message}
        h1.text-right Plan it with &nbsp;
          b Eventorio!

    include landing.signup.server.jade

    #login-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×
              span.sr-only Close
            h4.modal-title Login to Eventorio
          .modal-body
            form.form(role="form")
              .form-group
                input.form-control(type="text", placeholder="Username", name="username")
              .form-group
                input.form-control(type="password", placeholder="Password", name="password")
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Cancel
            button#login-action.btn.btn-success(type='button') Login
