#signup-well.well
  h1 Sign Up!
  .row
    .col-lg-12
      form#signup-form.form(role="form")
        .form-group
          input.form-control(type="text", placeholder="Username", name="username")
        .form-group
          input.form-control(type="email", placeholder="Email", name="email")
        .form-group
          input.form-control(type="password", placeholder="Password", name="password")
        .form-group
          input.form-control(type="password", placeholder="Repeat password", name="repeatPassword")
      button#signup-btn.btn.btn-material-orange.btn-lg.pull-right Create account