#signup-well.well
  h1 Sign Up!
  .row
    .col-lg-12
      form#signup-form.form(role="form")
        .form-group
          input.form-control(type="text", placeholder="Username", name="username")
        .form-group
          input.form-control(type="email", placeholder="Email", name="email")
        .form-group
          input.form-control(type="password", placeholder="Password", name="password")
        .form-group
          input.form-control(type="password", placeholder="Repeat password", name="repeatPassword")
      button#signup-btn.btn.btn-material-orange.btn-lg.pull-right Create account
  .row
    .col-lg-12.text-center Or use one of the following social networks:
  .margin-lg-10
  .row
    .col-lg-12.text-center
      a.btn.btn-material-indigo.btn-fab.btn-raised(href="/auth/facebook", style="margin-right: 5px")
        i.fa.fa-facebook
      a.btn.btn-material-red.btn-fab.btn-raised(href="/auth/google", style="margin-left: 5px")
        i.fa.fa-google