doctype html
html(lang="en", ng-app="EventorioApp", style="background-image: url(/img/bg.jpg)")
  include ../layouts/head.server.jade
  include ../layouts/scripts.server.jade
  body
    include ../layouts/header.server.jade

    .container-fluid(ng-controller="LandingController")
      .col-lg-9.hidden-xs.landing-text
        .col-lg-3.hidden-sm
          img#big-logo.img-responsive.img-circle(src="/img/logo_white_on_black.png")
        .page-header.col-lg-9
          h1 Welcome to Eventorio!
          h2 Blablabla
          p More blabla nad blablabla
      if !user
        #signup-box.col-lg-3.col-xs-12.pull-right
          .jumbotron
            h2.title
              | Sign up!
            form.form(role="form")
              .form-group
                input.form-control(type="text", name="username", placeholder="Username")
              .form-group
                input.form-control(type="email", name="email", placeholder="Email")
              .form-group
                input.form-control(type="password", name="password", placeholder="Password")
              .form-group
                input.form-control(type="password", name="repeatedPassword", placeholder="Repeat password")
              button.btn.btn-success.pull-right(ng-click="signup()")
                | Create account
      .col-xs-12.visible-xs.landing-text
        .col-lg-3.hidden-sm
          img#big-logo.img-responsive.img-circle(src="/img/logo_white_on_black.png")
        .page-header.col-lg-9
          h1 Welcome to Eventorio!
          h2 Blablabla
          p More blabla nad blablabla

