.panel.panel-info
  .panel-body
    img#actionImg.col-lg-2.col-xs-3.img.img-responsive.img-circle
    a#objectLink
      b#objectName
    span is invited
    a#subjectLink
      b#subjectName
    img#secondActionImg.hidden-xs.img.img-responsive.img-circle.pull-right
  .panel-footer.text-right
    span#actionTimestamp