.panel.panel-info
  .panel-body
    a#actionImgLink
      img#actionImg.col-lg-2.col-xs-3.img.img-responsive.img-circle
    a#subjectLink
      b#subjectName
    span will not participate
    a#objectLink
      b#objectName
    a#secondActionImgLink
      img#secondActionImg.hidden-xs.img.img-responsive.img-circle.pull-right
  .panel-footer.text-right
    span#actionTimestamp