.panel.panel-info
  .panel-body
    .row-fluid
      a#actionImgLink.col-lg-2.col-xs-3.text-center
        .row
          img#actionImg.col-lg-12.col-xs-12.img.img-responsive.img-thumbnail
        .margin-lg-10
        .row
          label.col-lg-10.col-lg-offset-1.col-xs-12.col-xs-offset-0.label.label-default#subjectName
      #actionContent.big-text-lg.col-lg-8.col-xs-9
      a#secondActionImgLink.col-lg-2.hidden-xs
        img#secondActionImg.img.img-responsive.img-thumbnail
  .panel-footer.text-right
    span#actionTimestamp