
h1.hidden-xs.text-center.monthStr {{month.format('MMMM YYYY')}}
.visible-xs.col-xs-1.text-right.month-control
  a.prevMonth(href="#")
    h2.glyphicon.glyphicon-circle-arrow-left

h3.visible-xs.col-xs-8.col-xs-offset-1.text-center.monthStr {{month.format('MMMM YYYY')}}

.visible-xs.col-xs-1.text-left.month-control
  a.nextMonth(href="#")
    h2.glyphicon.glyphicon-circle-arrow-right

.col-lg-12.col-xs-12
  .col-lg-1.hidden-xs.month-control
    a.prevMonth(href="#")
      h1.glyphicon.glyphicon-circle-arrow-left

  .responsive-calendar.col-lg-10.col-lg-offset-0.col-xs-12
    .day-headers
      .day.header Mon
      .day.header Tue
      .day.header Wed
      .day.header Thu
      .day.header Fri
      .day.header Sat
      .day.header Sun
    .days(data-group='days')

  .col-lg-1.col-md-1.col-sm-1.hidden-xs.month-control
    a.nextMonth(href="#")
      h1.glyphicon.glyphicon-circle-arrow-right