.shadow-z-2
  .panel.panel-info
    .panel-body
      a#userLink.col-lg-2.col-xs-3
        .row.img.img-circle#userThumbnail
        .row.text-center
          .col-lg-12.col-xs-12#username
      #content.col-lg-10.col-xs-9
    .panel-footer.text-right
      span#commentTimestamp