form.form.form-horizontal
  .input-group
    input.form-control.datepicker(type="text")
    span.input-group-addon
      span.glyphicon.glyphicon-th
  .input-group.clockpicker
    input.form-control(type="text")
    span.input-group-addon
      span.glyphicon.glyphicon-time
