a#eventLink
  .col-lg-4.col-xs-5
    img#eventPicture.img-responsive.img-thumbnail
  .col-lg-5.col-xs-7
    h4#eventName
    .text-left
      span#eventTime
  .col-lg-3.hidden-xs.text-right
    a#eventOrganizatorLink
      h4#eventOrganizatorName
