a#eventLink
  .col-lg-3.col-xs-5#eventThumbnail(picture, item-type="event", item="event", type="avatar")
  .col-lg-5.col-xs-7
    h4#eventName
    .text-left
      span#eventTime
  .col-lg-3.hidden-xs.text-right
    a#eventOrganizatorLink
      h4#eventOrganizatorName
