.col-lg-3.col-md-3.col-sm-3.col-xs-5
  a(ng-href="/events/{{event.id}}")
    .img.img-circle(picture, item-type="event", item="event", type="avatar")
.col-lg-9.col-md-9.col-sm-9.col-xs-7
  a(ng-href="/events/{{event.id}}")
    h4 {{event.name}}
  a.pull-right(ng-href="/users/{{event.organizator.username}}")
    h4 {{event.organizator.username}}
  p {{event.date.format('DD MMM YYYY, HH:mm')}}
  p {{event.desc | plainText}}
