.row
  .margin-xs-10
  h1.currentDayLabel.text-center {{dayStr}}:

.row
  .col-lg-12
    .col-lg-10.col-lg-offset-1.text-center(ng-if="events.length === 0")
      h3(style="color: grey") No events for today.

    .col-lg-11.col-lg-offset-1.col-xs-12(ng-if="events.length !== 0")
      .row(ng-repeat="event in events", event-line, event="event")