doctype html
html(lang="en", ng-app="EventorioApp")
  include ../layouts/head.server.jade
  body(style="background-image: url(/img/bg_opacity.jpeg)")
    include ../layouts/header.server.jade

    #application-content(ng-controller="ApplicationController")
    if (visible === 'full')
      .row-fluid.hidden-xs
        .col-lg-4.affix.affix-top
          .row-fluid
            #calendars.col-lg-12(ng-controller="CalendarController")
              include monthly.server.jade
          .row-fluid
            #day-events.col-lg-12(ng-controller="DaylyController")
              include daily.server.jade

        .col-lg-8.col-lg-offset-4
          #news-feed.col-lg-12(ng-controller="NewsFeedController")
            include newsfeed.server.jade

      .row-fluid.visible-xs
        .row-fluid
          #calendars.col-lg-12(ng-controller="CalendarController")
            include monthly.server.jade
        .row-fluid
          #day-events.col-lg-12(ng-controller="DaylyController")
            include daily.server.jade
    else if (visible === 'calendar')
      .row-fluid
        #calendars.col-xs-12(ng-controller="CalendarController")
          include monthly.server.jade

      .row-fluid
        #day-events.col-xs-12(ng-controller="DaylyController")
          include daily.server.jade

    else if (visible === 'news')
      .row-fluid
        #news-feed.col-xs-12(ng-controller="NewsFeedController")
          include newsfeed.server.jade


  include ../layouts/scripts.server.jade