.row-fluid
  .col-xs-12(style="height: 15px")

  label#currentDay.col-lg-12.col-md-10.col-xs-10
    span.col-lg-10.col-lg-offset-1.col-md-10.col-sm-10.col-xs-10 {{dayStr}}:
    a#eventCreationDialogTrigger.glyphicon.glyphicon-plus-sign.col-lg-1.col-md-1.col-sm-1.col-xs-1.pull-right(style="margin-top: 3px;", href="#", ng-click="showEventCreationDialog()")

.row-fluid
  #day-events.col-lg-12.col-md-12
    .col-lg-10.col-lg-offset-1.col-md-8.col-md-offset-3.col-xs-12.text-center(ng-if="dayEvents.length === 0")
      h3(style="color: grey") No events for today.
    .table-responsive.col-lg-10.col-lg-offset-1.col-md-9.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-10(ng-if="dayEvents.length !== 0")
      table.table.table-hover
        tr(ng-repeat="event in dayEvents")
          td
            a(href="{{event.url}}") {{event.name}}
          td
            a(href="{{event.url}}") {{event.location}}
          td.text-right
            a(href="/users/{{event.organizator.id}}") {{event.organizator.username}}

