doctype html
html(lang="en", ng-app="EventorioDashboard")
  head
    title
      | Eventorio
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/lib/bootstrap-material-design/dist/css/material.min.css")
    link(rel="stylesheet", href="/lib/bootstrap-material-design/dist/css/material-fullpalette.min.css")
    link(rel="stylesheet", href="/lib/bootstrap-material-design/dist/css/ripples.min.css")
    link(rel="stylesheet", href="/lib/bootstrap-material-design/dist/css/roboto.min.css")
    link(rel="stylesheet", href="/lib/angular-growl-v2/build/angular-growl.min.css")
    link(rel="stylesheet", href="/local_lib/responsive-calendar/css/responsive-calendar.css")

    link(rel="stylesheet", href="/css/header.css")
    link(rel="stylesheet", href="/css/dashboard.css")

    script(src="/lib/jquery/dist/jquery.min.js")
    script(src="/lib/underscore/underscore-min.js")
    script(src="/lib/moment/min/moment.min.js")
    script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
    script(src="/lib/bootstrap-material-design/dist/js/material.min.js")
    script(src="/lib/angular/angular.min.js")

    script(src="/lib/angular-resource/angular-resource.min.js")
    script(src="/lib/angular-growl-v2/build/angular-growl.min.js")
    script(src="/local_lib/responsive-calendar/js/responsive-calendar.min.js")

    script(src="/cdn/js/dashboard.client.js")
    script(src="/cdn/js/shared/routes.shared.js")
    script(src="/cdn/js/filters.client.js")

    script(src="/cdn/js/services/global.client.service.js")
    script(src="/cdn/js/services/user.client.service.js")
    script(src="/cdn/js/services/event.client.service.js")

    script(src="/cdn/js/controllers/header.client.controller.js")
    script(src="/cdn/js/controllers/application.client.controller.js")
    script(src="/cdn/js/controllers/newsfeed.client.controller.js")

    script(src="/cdn/js/directives/picture.directive.js")
    script(src="/cdn/js/directives/calendar.directive.js")
    script(src="/cdn/js/directives/news.item.directive.js")
    script(src="/cdn/js/directives/event.line.directive.js")

  body
    include ../layouts/header.server.jade
    div(growl)
    .row-fluid#application(ng-controller="ApplicationController")
      a#createEventFloating.btn.btn-fab.btn-material-red.btn-raised(href="/events/new")
        i.mdi-content-add
      #app-well.well.col-lg-4.col-md-5.col-sm-8.col-sm-offset-2.col-xs-12(ng-show="global.screenSize !== 'xs' || calendarView")
        calendar.row-fluid(ng-show="!eventsView")
          .row-fluid
            .col-lg-3.col-md-3.col-sm-3.col-xs-3
              a.prevMonth.pull-left(ng-click="prevMonth()")
                h1.glyphicon.glyphicon-circle-arrow-left
            .col-lg-6.col-md-6.col-sm-6.col-xs-6
              h1.text-center {{month.format('MMMM YYYY')}}
            .col-lg-3.col-md-3.col-sm-3.col-xs-3
              a.nextMonth.pull-right(ng-click="nextMonth()")
                h1.glyphicon.glyphicon-circle-arrow-right
          .row-fluid
            .responsive-calendar.col-lg-12.col-md-12.col-sm-12.col-xs-12
              .day-headers
                .day.header Mon
                .day.header Tue
                .day.header Wed
                .day.header Thu
                .day.header Fri
                .day.header Sat
                .day.header Sun
              .days(data-group='days')

        .row-fluid(ng-show="eventsView")
          a.pull-left(ng-click="eventsView = false")
            h1.glyphicon.glyphicon-circle-arrow-left
          .row-fluid
            h1.currentDayLabel.text-center {{now.format("DD MMMM YYYY")}}

          .row-fluid
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              .text-center(ng-if="events.length === 0")
                h3(style="color: grey") No events for today.

              div(ng-if="events.length !== 0")
                .row(ng-repeat="event in events", event-line, event="event")

      .col-lg-6.col-lg-offset-4.col-md-6.col-md-offset-5.col-sm-8.col-sm-offset-2.col-xs-12(ng-show="global.screenSize !== 'xs' || newsView")
        .row-fluid(ng-controller="NewsFeedController")
          .col-lg-12.col-md-12.col-sm-12
            .row-fluid
              .col-lg-10.col-lg-offset-1.col-md-12.col-sm-12(ng-repeat="action in actions", news-item, item="action")
            .row-fluid
              .col-lg-10.col-md-10.col-sm-10.text-center
                a.btn.btn-default(ng-click="loadMoreNews()") Show more news

