doctype html
html(lang="en", ng-app="EventorioApp")
  include ../layouts/head.server.jade
  include ../layouts/scripts.server.jade
  body
    include ../layouts/header.server.jade
    .content-fluid(ng-controller="EventController")
      div(event-layout, event="event", ng-if="show", ng-init="isNew=#{isNew}")

      #invitationModal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal')
                span(aria-hidden='true') ×
                span.sr-only Close
              h4.modal-title Invite people to "{{event.name}}"!
            .modal-body
              .row
                .col-lg-12
                  h4 We will send invitation emails to these users
              .row
                .col-lg-12
                  form.form(role="form")
                    .form-group#emailsToInvite
                      textarea.form-control.col-lg-12(placeholder="Emails separated with a comma")
                      label
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Cancel
              button.btn.btn-success(type='button', ng-click="invite()") Invite

      #deleteModal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
          .modal-dialog
              .modal-content
                  .modal-header
                      button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                      h4.modal-title Delete event : "{{originalName}}"!
                  .modal-body
                      .row
                          .col-lg-12
                              h4 Are you sure you want to delete this event, can't be undone
                              p Enter the event name ("{{originalName}}") to delete it !
                      .row
                          .col-lg-12
                              form.form(role="form")
                                  .form-group#eventNameToDelete
                                      textarea.form-control.col-lg-12(placeholder="Enter event name to delete it", ng-model="deletedEventName")
                                      label
                  .modal-footer
                      button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                      button.btn.btn-danger(type='button', ng-click="deleteEvent()", ng-disabled="deletedEventName !== originalName") Delete

      #participantsModal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true", ng-init="participantsTab = 'attendees'")
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal')
                span(aria-hidden='true') ×
                span.sr-only Close
              h4.modal-title "{{event.name}}" participants!
            .modal-body
              .row
                ul.nav.nav-tabs
                  li.peopleAcceptedTab.active(role="presentation", ng-click="showPeopleAccepted()")
                    a(href="#") Participants
                  li.peopleInvitedTab(role="presentation", ng-click="showPeopleInvited()")
                    a(href="#") Invited
              .row
                .col-lg-12(ng-show="peopleView === 'accepted'")
                  .col-lg-3(ng-if="event.people.accepted.length > 0", ng-repeat="us in event.people.accepted", user-small, user="us")
                  .col-lg-12.text-center.big-text(ng-if="event.people.accepted.length === 0", style="color: grey") No people yet
                .col-lg-12(ng-show="peopleView === 'invited'")
                  .col-lg-3(ng-repeat="us in event.people.invited", user-small, user="us")
                  .col-lg-12.text-center.big-text(ng-if="event.people.invited.length === 0", style="color: grey") No people yet
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Cancel

      #dateAndTimePicker.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal')
                span(aria-hidden='true') ×
                span.sr-only Close
              h4.modal-title Choose date and time for your event
            .model-body
              .clearfix(style="margin-top: 10px")
              .row
                .col-lg-4.col-lg-offset-4
                  .input-group.clockpicker(data-placement="bottom", data-align="top", data-autoclose="true")
                    input.form-control(type="text", placeholder="Time")
                    span.input-group-addon
                        span.glyphicon.glyphicon-time
              .row
                .col-lg-10.col-lg-offset-1(ng-controller="CalendarController")
                  .row(calendar)
              .row
                .col-lg-12(ng-controller="DaylyController")
                  .row
                    .col-lg-12
                      .col-lg-10.col-lg-offset-1.text-center(ng-if="events.length === 0")
                      .col-lg-11.col-lg-offset-1.col-xs-12(ng-if="events.length !== 0")
                        .row(ng-repeat="event in events", event-line, event="event")
            .modal-footer
              .pull-left
                label.big-text.label.label-success(ng-show="event.date") {{event.date.format('DD MMMM YYYY')}} {{event.date.format('HH:mm')}}
              button.btn.btn-success(ng-if="event.date", type='button', data-dismiss='modal') Done
              button.btn.btn-success(ng-if="!event.date", type='button', data-dismiss='modal', disabled=true) Done

      #locationPicker.modal.fade(ng-if="show", tabindex="-1", role="dialog", aria-hidden="true")
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal')
                span(aria-hidden='true') ×
                span.sr-only Close
              h4.modal-title Choose your event location
            .model-body
              .margin-lg-10
              .row
                .event-location.col-lg-10.col-lg-offset-1
                  div(location-autocomplete, ng-model='event.location')
            .modal-footer
              .row.text-left
                .col-lg-10.col-xs-10.big-text(ng-show="event.location") {{event.location.name}}
                .col-lg-2.col-xs-2
                  button.btn.btn-success(type='button', data-dismiss='modal') Done