.row(style="height: 100%")
  .col-lg-10.col-lg-offset-1.col-xs-12(ng-repeat="action in actions", news-item, item="action")
.row-fluid
  .col-lg-10.text-center
    a.btn.btn-default(href="#", ng-click="loadMoreNews()") Show more news
    .margin-lg-10
    .margin-xs-10