.row(style="height: 100%")
  .col-lg-10.col-lg-offset-1.col-xs-12(ng-repeat="action in actions")
    div(ng-if="action._type === global.actionTypes.signup", signup-action, action="action")
    div(ng-if="action._type === global.actionTypes.createEvent", new-event-action, action="action")
    div(ng-if="action._type === global.actionTypes.attendEvent", attend-event-action, action="action")
    div(ng-if="action._type === global.actionTypes.quitEvent", quit-event-action, action="action")
    div(ng-if="action._type === global.actionTypes.invite", invite-action, action="action")
    div(ng-if="action._type === global.actionTypes.follow", follow-action, action="action")
.row-fluid
  .col-lg-10.text-center
    a(href="#", ng-click="loadMoreNews()") Show more news