doctype html
html(lang="en", ng-app="EventorioApp")
  include ../layouts/head.server.jade
  include ../layouts/scripts.server.jade
  body
    include ../layouts/header.server.jade
    .content-fluid(ng-controller="UserController")
      .row-fluid(ng-show="show")
        img.img-responsive.img-user-header(src="/img/user_background.png")

        .user-header.col-lg-12.col-md-12.col-sm-12.hidden-xs
          .row-fluid
            .col-lg-4.col-lg-offset-1.col-md-3.col-sm-4
              .row-fluid
                .user-thumbnail.col-lg-12.col-md-12.col-sm-12
                  img.img-responsive.img-thumbnail.col-lg-8.col-md-12.col-sm-12(ng-src="{{user.picture}}")
              .row-fluid
                .col-lg-offset-1.col-md-offset-1.col-sm-offset-1.hidden-xs.user-name
                  div(ng-if="user.name")
                    a.editable(ng-if="editable", style="font-size: 2em;") {{user.name}}
                    p(ng-if="!editable", style="font-size: 2em;") {{user.name}}
                  div(ng-if="!user.name")
                    a.editable(ng-if="editable", style="color: grey; font-size: 1.7em; opacity: 0.5;") Enter your name
                    p(ng-if="!editable", style="color: grey; font-size: 1.7em;") No name
              .row-fluid
                .col-lg-8.text-center
                  table.table
                    tr
                      td
                        a(href="#", ng-click="showPeople='followers'")
                          | {{user.followers.length || 0}}
                          br
                          | Followers
                      td
                        a(href="#", ng-click="showPeople='following'")
                          | {{user.following.length || 0}}
                          br
                          | Following
              .row-fluid
                .col-lg-12(ng-show="showPeople === 'followers'")
                  div(ng-repeat="us in user.followers")
                    a(href="/users/{{us.username}}") {{us.username}}

                .col-lg-12(ng-show="showPeople === 'following'")
                  div(ng-repeat="us in user.following")
                    a(href="/users/{{us.username}}") {{us.username}}

              .row-fluid(ng-if="!editable")
                .col-lg-8.text-center
                  button.btn.btn-success.col-lg-12(ng-if="global.me.following.indexOf(user.id) === -1", ng-click="follow()") Follow
                  button.btn.btn-default.btn-sm.col-lg-6.col-lg-offset-3(
                    ng-if="global.me.following.indexOf(user.id) !== -1"
                    ng-click="unfollow()") Unfollow
            .user-username.col-lg-7.col-md-9.col-sm-8 {{user.username}}
          .row-fluid
            .user-description.col-lg-7.col-md-9.col-sm-8
              div(ng-if="user.desc")
                a.editable(ng-if="editable", style="font-size: 2em") {{user.desc}}
                p(ng-if="!editable", style="font-size: 2em") {{user.desc}}
              div(ng-if="!user.desc")
                a.editable(ng-if="editable", style="font-size: 1.7em; opacity: 0.5;") Tell us something about you
                p(ng-if="!editable", style="font-size: 2em") No description

        //- Extra-small screens
        .user-header.col-xs-12.visible-xs
          .row-fluid
            .user-thumbnail.col-xs-4
              img.img-responsive.img-thumbnail(ng-src="{{user.picture}}")
            .user-name.col-xs-8
              | {{user.username}}
              p(ng-if="user.name") {{user.name}}
              p(ng-if="!user.name", style="color: grey; opacity: 0.5;") Enter your name
          .row-fluid
            .user-description.col-xs-12
              p(ng-if="user.desc") {{user.desc}}
              p(ng-if="!user.desc", style="color: grey; opacity: 0.5;") Tell us something about you