doctype html
html(lang="en", ng-app="EventorioApp")
  include ../layouts/head.server.jade
  include ../layouts/scripts.server.jade
  body
    include ../layouts/header.server.jade
    .content-fluid(ng-controller="UserController")
      .row-fluid(ng-show="show")
        img.img-responsive.img-user-header(src="/img/user_background.png")

        .user-header.col-lg-12.col-md-12.col-sm-12.hidden-xs
          .row-fluid
            .col-lg-4.col-lg-offset-1.col-md-3.col-sm-4
              .row
                .user-thumbnail.col-lg-12.col-md-12.col-sm-12
                  img.img-responsive.img-thumbnail.col-lg-8.col-md-12.col-sm-12(ng-src="{{user.picture}}")
              .row
                .col-lg-offset-1.col-md-offset-1.col-sm-offset-1.hidden-xs.user-name
                  div(ng-if="user.name")
                    a.editable(ng-if="editable", style="font-size: 2em;") {{user.name}}
                    p(ng-if="!editable", style="font-size: 2em;") {{user.name}}
                  div(ng-if="!user.name")
                    a.editable(ng-if="editable", style="color: grey; font-size: 1.7em; opacity: 0.5;") Enter your name
                    p(ng-if="!editable", style="color: grey; font-size: 1.7em;") No name
              .row#userTabs
                .col-lg-8.text-center
                  table.table
                    tr
                      td#followersTab
                        a(href="#", ng-click="showTab('#followersTab');")
                          | {{user.followers.length || 0}}
                          br
                          | Followers
                      td#followingTab
                        a(href="#", ng-click="showTab('#followingTab');")
                          | {{user.following.length || 0}}
                          br
                          | Following
              .row
                .col-lg-8(ng-show="tab === '#followersTab'")
                  p.text-center(style="color: gray", ng-if="user.followers.length === 0") No followers
                  .table.table(ng-repeat="us in user.followers")
                    tr
                      td
                        img.img.img-responsive.img-thumbnail(ng-src="{{us.picture}}")
                      td
                        a(href="/users/{{us.username}}") {{us.username}}
                      td
                        a(href="/users/{{us.username}}") {{us.name}}

                .col-lg-8(ng-show="tab === '#followingTab'")
                  table.table(ng-repeat="us in user.following")
                    tr
                      td
                        img.img.img-responsive.img-thumbnail(ng-src="{{us.picture}}")
                      td
                        a(href="/users/{{us.username}}") {{us.username}}
                      td
                        a(href="/users/{{us.username}}") {{us.name}}

              .row-fluid(ng-if="global.me && !editable")
                .col-lg-8.text-center
                  button.btn.btn-success.col-lg-12(
                    ng-if="global.me.following.indexOf(user.id) === -1"
                    ng-click="follow()") Follow
                  button.btn.btn-default.btn-sm.col-lg-6.col-lg-offset-3(
                    ng-if="global.me.following.indexOf(user.id) !== -1"
                    ng-click="unfollow()") Unfollow
            .user-username.col-lg-7.col-md-9.col-sm-8 {{user.username}}
          .row-fluid
            .user-description.col-lg-7.col-md-9.col-sm-8
              div(ng-if="user.desc")
                a.editable(ng-if="editable", style="font-size: 2em") {{user.desc}}
                p(ng-if="!editable", style="font-size: 2em") {{user.desc}}
              div(ng-if="!user.desc")
                a.editable(ng-if="editable", style="font-size: 1.7em; opacity: 0.5;") Tell us something about you
                p(ng-if="!editable", style="font-size: 2em") No description

            .user-events.col-lg-7(ng-if="user.events")
              h3 {{user.username}}'s events:
              .col-lg-6(ng-repeat="event in user.events")
                a(href="/events/{{event.id}}")
                  table.table
                    tr
                      td.col-lg-3
                        img.img-responsive.img-thumbnail(ng-if="event.picture", ng-src="/pictures/{{event.picture}}")
                        img.img-responsive.img-thumbnail(ng-if="!event.picture", src="/img/event_logo.jpg")
                      td
                        a(href="/events/{{event.id}}")
                          span {{event.name}}
                      td
                        a(href="/users/{{event.organizator.username}}")
                          span {{event.organizator.username}}
