doctype html
html(lang="en", ng-app="EventorioApp")
  include ../layouts/head.server.jade
  include ../layouts/scripts.server.jade
  body
    include ../layouts/header.server.jade

    .content-fluid(ng-controller="UserController", ng-show="show")
      .row-fluid
        img.img-responsive.img-user-header(src="/img/user_background.png")

        .col-lg-4.col-lg-offset-1.col-xs-12.col-xs-offset-0
          .row
            .user-thumbnail.col-lg-12.col-xs-4
              img.img-responsive.col-lg-8(ng-src="{{user.picture}}")
            .user-username.col-xs-8.visible-xs {{user.username}}
            .user-name.visible-xs.col-xs-8.pull-right
              div(ng-if="user.name")
                a.editable(ng-if="editable") {{user.name}}
                p(ng-if="!editable") {{user.name}}
              div(ng-if="!user.name")
                a.editable(ng-if="editable", style="color: grey; opacity: 0.5;") Enter your name
                p(ng-if="!editable", style="color: grey;") No name

          .row.hidden-xs
            .user-name.col-lg-12.big-text
              div(ng-if="user.name")
                a.editable(ng-if="editable") {{user.name}}
                p(ng-if="!editable") {{user.name}}
              div(ng-if="!user.name")
                a.editable(ng-if="editable", style="color: grey; opacity: 0.5;") Enter your name
                p(ng-if="!editable", style="color: grey;") No name
          .row.visible-xs
            .user-description.col-lg-12.col-xs-12
              div(ng-if="user.desc")
                a.editable(ng-if="editable") {{user.desc}}
                p(ng-if="!editable") {{user.desc}}
              div(ng-if="!user.desc")
                a.editable(ng-if="editable", style="opacity: 0.5;") Tell us something about you
                p(ng-if="!editable") No description
          .row
            .col-lg-4.col-xs-6.text-center
              a(href="#", data-toggle="modal", data-target="#peopleModal", ng-click="people='followers'")
                | {{user.followers.length || 0}}
                br
                | Followers
            .col-lg-4.col-xs-6.text-center
              a(href="#", data-toggle="modal", data-target="#peopleModal", ng-click="people='following'")
                | {{user.following.length || 0}}
                br
                | Following

          .row(ng-if="global.me && !editable")
            .col-lg-8.col-xs-12.text-center
              button.btn.btn-success.col-lg-12.col-xs-12(
                ng-if="!isFollowing"
                ng-click="follow()") Follow
              button.btn.btn-default.btn-sm(
                ng-if="isFollowing"
                ng-click="unfollow()") Unfollow

          .row.visible-xs
            .user-events.col-xs-12(ng-if="user.events")
              p.text-center(ng-if="user.events.length === 0", style="color: grey; opacity: 0.7") No upcoming events
              p.text-center(ng-if="user.events.length !== 0 && !editable") {{user.username}}'s upcoming events:
              p.text-center(ng-if="user.events.length !== 0 && editable") Your upcoming events:
              .col-lg-6(ng-repeat="event in user.events" event-line event="event")

          .margin-xs-10
          .row(ng-if="global.me && editable")
            .col-lg-8.text-center
              .row(ng-show="!changePasswordView")
                button.btn.btn-info.col-lg-12(ng-click="changePasswordView=true") Change password
              .row(ng-show="changePasswordView")
                form.form.col-lg-10.col-lg-offset-1.col-xs-12
                  .form-group
                    input.col-lg-12.form-control(ng-model="credentials.oldPassword", type="password", placeholder="Old password")
                  .form-group
                    input.col-lg-10.form-control(ng-model="credentials.newPassword", type="password", placeholder="New password")
                  .form-group
                    input.col-lg-10.form-control(ng-model="credentials.newPasswordRepeat", type="password", placeholder="New password")
                  .changePasswordForm
                .btn-group.btn-group.justified
                  a.btn.btn-warning(type="submit", ng-click="changePassword()") Change
                  a.btn.btn-default(type="submit", ng-click="changePasswordView = false") Cancel
        .col-lg-7
          .row.hidden-xs
            .user-username.well {{user.username}}
          .row.hidden-xs
            .user-description.col-lg-12.big-text
              div(ng-if="user.desc")
                a.editable(ng-if="editable") {{user.desc}}
                p(ng-if="!editable") {{user.desc}}
              div(ng-if="!user.desc")
                a.editable(ng-if="editable", style="opacity: 0.5;") Tell us something about you
                p(ng-if="!editable") No description
          .row.hidden-xs
            .user-events.col-lg-12(ng-if="user.events")
              h3(ng-if="user.events.length === 0", style="color: grey; opacity: 0.7") No upcoming events
              h3(ng-if="user.events.length !== 0 && !editable") {{user.username}}'s upcoming events:
              h3(ng-if="user.events.length !== 0 && editable") Your upcoming events:
              .col-lg-6(ng-repeat="event in user.events" event-line event="event")

      #peopleModal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal')
                span(aria-hidden='true') ×
                span.sr-only Close
              h4.modal-title(ng-if="people==='followers'") Followers
              h4.modal-title(ng-if="people==='following'") Following
            .modal-body
              .row(ng-if="people === 'followers'")
                .col-lg-3.col-xs-4(ng-repeat="u in user.followers", user-small, user="u")
              .row(ng-if="people === 'following'")
                .col-lg-3.col-xs-4(ng-repeat="u in user.following", user-small, user="u")
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Ok