doctype html
html(lang="en", ng-app="EventorioApp")
  include ../layouts/head.server.jade
  include ../layouts/scripts.server.jade
  body
    include ../layouts/header.server.jade
    .content-fluid(ng-controller="UserController")
      div(user-layout, user="user", ng-if="show")