head
  title
    | Eventorio
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  script(src="/lib/jquery/dist/jquery.min.js")
  script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
  script(src="/lib/angular/angular.min.js")
  script(src="/lib/angular-resource/angular-resource.min.js")
  script(src="/lib/angular-sanitize/angular-sanitize.min.js")
  script(src="/lib/underscore/underscore-min.js")
  script(src="/lib/moment/min/moment.min.js")
  script(src="/lib/noty/js/noty/packaged/jquery.noty.packaged.min.js")
  script(src="/lib/clockpicker/dist/bootstrap-clockpicker.min.js")
  script(src="/lib/angular-xeditable/dist/js/xeditable.min.js")
  script(src="/local_lib/responsive-calendar/js/responsive-calendar.min.js")
  script(src="/local_lib/bootstrap3-wysiwyg/dist/bootstrap3-wysihtml5.all.min.js")
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&language=en")
  script(src="/lib/typeahead.js/dist/bloodhound.js")
  script(src="/lib/typeahead.js/dist/typeahead.jquery.js")
  script(src="/lib/angular-typeahead/angular-typeahead.js")
  link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap-theme.min.css")
  link(rel="stylesheet", href="/lib/clockpicker/dist/bootstrap-clockpicker.min.css")
  link(rel="stylesheet", href="/lib/angular-xeditable/dist/css/xeditable.css")
  link(rel="stylesheet", href="/local_lib/responsive-calendar/css/responsive-calendar.css")
  link(rel="stylesheet", href="/local_lib/bootstrap3-wysiwyg/dist/bootstrap3-wysihtml5.min.css")
  link(rel="stylesheet", href="/css/styles.css")