head
  title
    | Eventorio
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  script(src="/lib/jquery/dist/jquery.min.js")
  script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
  script(src="/lib/bootstrap-material-design/dist/js/material.min.js")
  script(src="/lib/angular/angular.min.js")
  link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href="/lib/bootstrap-material-design/dist/css/material-wfont.min.css")
  link(rel="stylesheet", href="/lib/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css")
  link(rel="stylesheet", href="/lib/clockpicker/dist/bootstrap-clockpicker.min.css")
  link(rel="stylesheet", href="/lib/angular-cropme/cropme.css")
  link(rel="stylesheet", href="/local_lib/responsive-calendar/css/responsive-calendar.css")
  link(rel="stylesheet", href="/local_lib/bootstrap3-wysiwyg/dist/bootstrap3-wysihtml5.min.css")
  link(rel="stylesheet", href="/css/styles.css")