nav#header.navbar.navbar-fixed.navbar-fixed-top.navbar-material-indigo-300(ng-controller="HeaderController", role="navigation")
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(ng-if="global.me" type="button", data-toggle="collapse", data-target="#navbar")
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a.navbar-brand.hidden-xs(style="padding-top: 12px", ng-href="{{global.app.path.dashboard}}")
        img.img-circle.pull-left(alt="Eventorio", style="height: 30px; margin-right: 10px", src="/img/logo_white.png")
        span Eventorio
      a.navbar-brand.visible-xs(style="padding-top: 12px", ng-href="{{global.app.path.calendar}}")
        img.img-circle.pull-left(alt="Eventorio", style="height: 30px; margin-right: 10px", src="/img/logo_white.png")
        span Eventorio

    #navbar.collapse.navbar-collapse(ng-if="global.me")
      .hidden-xs
        ul.nav.navbar-nav.navbar-right
          li.dropdown(ng-if="global.me")
            a.dropdown-toggle(href="#", data-toggle="dropdown")
              #me-thumbnail.pull-left.img.img-circle(picture, item-type="user", type="avatar", item="global.me")
              span {{global.me.username}}
              span.caret
            ul.dropdown-menu(role="menu")
              li
                a(href="/users/{{global.me.username}}")
                  | Profile
              li
                a(ng-href="{{global.app.path.logout}}")
                  | Logout

      .visible-xs
        ul.nav.navbar-nav.navbar-right
          li#profile-menu
            a(ng-href="/users/{{global.me.username}}")
              span.glyphicon.glyphicon-user(style="margin-right: 10px")
              span {{global.me.username}}
              #me-thumbnail.pull-right.img.img-circle(picture, item-type="user", type="avatar", item="global.me")
          li#calendar-menu
            a(href="#", ng-click="switchView('calendarView')")
              span.glyphicon.glyphicon-calendar(style="margin-right: 10px")
              span Calendar
          li#news-menu
            a(href="#", ng-click="switchView('newsView')")
              span.glyphicon.glyphicon-bullhorn(style="margin-right: 10px")
              span News
          .clearfix
          br
          li
            a(ng-href="{{global.app.path.logout}}")
              span.glyphicon.glyphicon-off(style="margin-right: 10px")
              span Logout