script(src="/cdn/js/app.client.js")
script(src="/cdn/js/controllers/header.client.controller.js")
script(src="/cdn/js/controllers/landing.client.controller.js")
script(src="/cdn/js/controllers/user.client.controller.js")
script(src="/cdn/js/services/global.client.service.js")
script(src="/cdn/js/services/user.client.service.js")
