script(src="/cdn/js/app.client.js")
script(src="/cdn/js/controllers/application.client.controller.js")
script(src="/cdn/js/controllers/calendar.client.controller.js")
script(src="/cdn/js/controllers/day.client.controller.js")
script(src="/cdn/js/controllers/event.client.controller.js")
script(src="/cdn/js/controllers/header.client.controller.js")
script(src="/cdn/js/controllers/landing.client.controller.js")
script(src="/cdn/js/controllers/newsfeed.client.controller.js")
script(src="/cdn/js/controllers/search.client.controller.js")
script(src="/cdn/js/controllers/user.client.controller.js")
script(src="/cdn/js/services/event.client.service.js")
script(src="/cdn/js/services/global.client.service.js")
script(src="/cdn/js/services/user.client.service.js")
script(src="/cdn/js/services/auth.client.service.js")
script(src="/cdn/js/services/notifications.client.service.js")
script(src="/cdn/js/services/comments.client.service.js")
script(src="/cdn/js/directives/news-item.directive.js")
script(src="/cdn/js/directives/event-line.directive.js")
script(src="/cdn/js/directives/user.small.directive.js")
script(src="/cdn/js/directives/calendar.directive.js")
script(src="/cdn/js/directives/comment.directive.js")
script(src="/cdn/js/directives/location-autocomplete.directive.js")
script(src="/cdn/js/directives/search-item.directive.js")
script(src="/cdn/js/directives/user-layout.directive.js")
script(src="/cdn/js/directives/event-layout.directive.js")
script(src="/local_lib/uservoice.js")
script(src="/local_lib/uservoice.js")
