script(src="/lib/angular-resource/angular-resource.min.js")
script(src="/lib/angular-sanitize/angular-sanitize.min.js")
script(src="/lib/underscore/underscore-min.js")
script(src="/lib/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js")
script(src="/lib/moment/min/moment.min.js")
script(src="/lib/noty/js/noty/packaged/jquery.noty.packaged.min.js")
script(src="/lib/clockpicker/dist/bootstrap-clockpicker.min.js")
script(src="/local_lib/responsive-calendar/js/responsive-calendar.min.js")
script(src="/local_lib/bootstrap3-wysiwyg/dist/bootstrap3-wysihtml5.all.min.js")
script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&language=en")
script(src="/lib/typeahead.js/dist/bloodhound.js")
script(src="/lib/typeahead.js/dist/typeahead.jquery.js")
script(src="/lib/angular-typeahead/angular-typeahead.js")
script(src="/lib/angular-superswipe/superswipe.js")
script(src="/lib/angular-touch/angular-touch.min.js")
script(src="/lib/angular-cropme/cropme.js")

script(src="/cdn/js/app.client.js")
script(src="/cdn/js/shared/routes.shared.js")
script(src="/cdn/js/controllers/application.client.controller.js")
script(src="/cdn/js/controllers/calendar.client.controller.js")
script(src="/cdn/js/controllers/day.client.controller.js")
script(src="/cdn/js/controllers/event.client.controller.js")
script(src="/cdn/js/controllers/event.invite.client.controller.js")
script(src="/cdn/js/controllers/header.client.controller.js")
script(src="/cdn/js/controllers/newsfeed.client.controller.js")
script(src="/cdn/js/controllers/user.client.controller.js")
script(src="/cdn/js/services/event.client.service.js")
script(src="/cdn/js/services/global.client.service.js")
script(src="/cdn/js/services/user.client.service.js")
script(src="/cdn/js/services/notifications.client.service.js")
script(src="/cdn/js/services/comments.client.service.js")
script(src="/cdn/js/services/pictures.client.service.js")
script(src="/cdn/js/directives/calendar.directive.js")
script(src="/cdn/js/directives/events.daily.directive.js")
script(src="/cdn/js/directives/news.item.directive.js")
script(src="/cdn/js/directives/event.line.directive.js")
script(src="/cdn/js/directives/user.small.directive.js")
script(src="/cdn/js/directives/comment.directive.js")
script(src="/cdn/js/directives/location-autocomplete.directive.js")
script(src="/cdn/js/directives/search.item.directive.js")
script(src="/cdn/js/directives/sticky.directive.js")
script(src="/cdn/js/directives/image-upload.directive.js")
script(src="/cdn/js/directives/picture.directive.js")
script(src="/local_lib/uservoice.js")